<div id="navSide">
    <a href="/"><img src="/img/globus.png" alt="globus.png"></a>

    <h2>Menu</h2>
    
    <ul>
        <% if (articles.length > 0) { %>
            <% articles.forEach(article => { %>
            	<li>
                    <a href="/articles/<%= article._id %>">
                        <p class="menu"><%= article.title %></p>
                    </a>
                </li>
            <% }) %>
        <% } else { %>
            <p>No Articles</p>
        <% } %>
        
    </ul>
</div>

<div id="navTop">
    <nav id="topNav" >
        <ul>
            <li><a class="user" href="">Benutzer</a></li>
            <li><a href="/articles/create">Neuen Artikel erstellen</a></li>
            <input type="text" placeholder="Suche..." id="searchBar">
        </ul>
    </nav>
</div>