<html lang="de">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/menu.ejs") %>

    
    <div class="create-articleContent">

        <form class="formElement" action="/articles" method="POST">
            <h2>Erstelle einen neuen Artikel</h2>
            <input placeholder="Artikel Titel:" type="text" id="title" name="title" required>
            <input placeholder="Keywords: " type="text" id="keywords" name="keywords" required>
            <input placeholder="Kurzfassung: " type="text" id="snippet" name="snippet" requierd>
            <textarea placeholder="Body: " id="body" name="body" required></textarea>
            <button class="btnSub">Erstellen</button>
        </form>
    </div>    

    <%- include("./partials/search.ejs") %>


</body>
</html>